
.message-container{
  background: linear-gradient(to bottom, #d9d9d9, #ffffff);

 
}
body {
  line-height: 1.6;
}

*{

    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.navbar {
    background-color: #105325;
    height: 5rem;
}
  
.navbar .nav-link {
    color: #ffffff; 
}
.navbar .nav-link:hover, 
.navbar .nav-link.active {
    color: #a9dfbf!important; 
}
.navbar .navbar-text {
    color: #ffffff; 
    font-weight: normal; 
}
.navbar-collapse {
  background-color: rgba(24, 91, 16, 0.5);;
  padding: 10px;
  width: auto;
  margin-left: auto;
}

.navbar-collapse .nav-link {
  color: #ffffff;
  font-size: 1rem; 
  padding: 0.5rem 1rem;
  text-align: right;
}

.navbar-brand img {
  height: 70px;
  width: auto;
}
  .fas {
    color: rgb(40, 169, 40);
}

img{

    height: 103px; 
    width: 102px; 
}

#home p, h1{

    text-align: center;
}

p{
    text-align: center;
}

.fas-fa-sign-out i{

    color:red
}
.table-container {

  background: linear-gradient(to bottom, #d9d9d9, #ffffff);
   /* background-color: #ebebeb; */
    border: 1px solid #dee2e6; 
    border-radius: 8px;
    padding: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
  }
  
  .table-container .table {
    margin-bottom: 0;
  }
h1 {
    font-size: 3rem!important;
    font-weight: bold!important;
    text-align: center!important;
    margin-bottom: 20px!important;
  }
  .message-container {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
  }
  .message-container p {
    text-align: justify;
    margin: 0;
  }

@media (max-width: 768px) {
  .message-container {
      max-height: 150px;
      padding: 10px;
      font-size: 0.6rem;
    h1 {
        font-size: 1rem!important;
      }
    
  }
}

@media (max-width: 480px) {
  .message-container {
      max-height: 100px;
      padding: 5px;
      font-size: 0.8rem;
    h1 {
        font-size: 1rem!important;
      }
  }
}

  body {
    background-color: #d9d9d9!important;
  }
  

  .container {
    margin-top: 50px; 
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px; 
  }
  
 
  .form-group {
    margin-bottom: 1.5rem; 
  }
  
  input.form-control,
  textarea.form-control {
    border-radius: 5px; 
    padding: 10px; 
    font-size: 1rem; 
  }
  
  textarea.form-control {
    resize: vertical; 
    min-height: 100px; 
  }
  
  
  button {
    font-size: 1rem; 
    padding: 10px 20px; 
    border-radius: 5px; 
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-warning {
    background-color: #ffc107;
    border: none;
  }
  
  .btn-primary:hover,
  .btn-warning:hover {
    opacity: 0.8; 
  }
  